*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.4; }

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a,
a:visited {
  color: inherit; }

article,
aside,
footer,
header,
nav,
section,
main {
  display: block; }

[hidden] {
  display: none !important; }

[disabled] {
  cursor: not-allowed; }

:focus:not(:focus-visible) {
  outline: none; }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Soleil-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Soleil-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Soleil-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Soleil-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Soleil-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Soleil-Extrabold.ttf") format("truetype"); }

body {
  font-family: "Soleil", sans-serif; }

.heading {
  color: #003896;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 2rem; }
  .heading--primary {
    font-size: 4rem;
    line-height: 5rem; }
  .heading--secondary {
    font-size: 3rem; }

.nav-link {
  font-weight: 700; }

.paragraph {
  color: #444444;
  font-size: 1.6rem;
  line-height: 2.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.text-red {
  color: #ff4040 !important; }

.btn {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  padding: 1.3rem 2rem;
  text-transform: uppercase;
  transition: all 300ms ease; }
  .btn--primary {
    background-color: #ff4040;
    color: #ffffff !important; }
    .btn--primary:hover {
      background-color: #d90000;
      box-shadow: 0 4px 5px 0 rgba(114, 25, 25, 0.2), 0 6px 20px 0 rgba(192, 12, 12, 0.19); }
  .btn--secondary {
    background-color: transparent;
    border: 0.2rem solid #003896;
    color: #003896 !important; }
  .btn--link {
    color: #ff4040 !important;
    font-size: 1.4rem;
    padding: 0; }
  .btn:not(:last-of-type) {
    margin-right: 1rem; }

.card {
  background: #ffffff; }
  .card:hover {
    cursor: pointer;
    background: aqua; }

.main-carousel .carousel-item {
  position: relative; }

.main-carousel .carousel-info {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.main-carousel .carousel-ctas {
  margin-top: 3rem; }
  .main-carousel .carousel-ctas .btn {
    padding-left: 3rem;
    padding-right: 3rem; }

.main-carousel .carousel-image {
  display: block;
  height: 55rem;
  object-fit: cover;
  object-position: center;
  width: 100%; }

.main-carousel .carousel-indicators li {
  background-color: #ffffff;
  border-radius: 100%;
  height: 1rem;
  opacity: 1;
  width: 1rem; }
  .main-carousel .carousel-indicators li.active {
    background-color: #003896; }

.tabs {
  margin-top: 6rem; }
  .tabs .nav {
    margin-bottom: 3rem; }
    .tabs .nav-link {
      color: rgba(42, 42, 42, 0.355327);
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 1rem;
      position: relative;
      text-transform: uppercase; }
      .tabs .nav-link::after {
        background-color: rgba(42, 42, 42, 0.355327);
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%; }
      .tabs .nav-link:hover::after {
        background-color: #003896; }
      .tabs .nav-link.active {
        color: #003896; }
        .tabs .nav-link.active::after {
          background-color: #003896;
          height: 2px; }

.footer {
  padding-top: 8rem; }
  .footer__navbar {
    margin-bottom: 5rem; }
  .footer__nav-title {
    color: #003896;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
    padding: 0;
    text-transform: uppercase; }
  .footer__nav {
    list-style: none; }
  .footer__nav-item {
    padding: 0; }
    .footer__nav-item:not(:last-of-type) {
      margin-bottom: 1.2rem; }
  .footer__nav-link {
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all 300ms ease; }
    .footer__nav-link:hover {
      color: #003896; }
  .footer__extra-info {
    color: #003896;
    margin-bottom: 5rem; }
    .footer__extra-info .logo-section .logo {
      width: 15rem; }
    .footer__extra-info .address-section .address {
      font-size: 1.4rem;
      line-height: 2.2rem; }
    .footer__extra-info .contact-section {
      align-items: flex-start;
      display: flex;
      flex-direction: column; }
    .footer__extra-info .contact-link {
      font-size: 1.4rem;
      text-decoration: none; }
      .footer__extra-info .contact-link:hover {
        color: #003896; }
      .footer__extra-info .contact-link:not(:last-child) {
        margin-bottom: 1rem; }
    .footer__extra-info .social-links {
      display: flex; }
      .footer__extra-info .social-links .link {
        align-items: center;
        background-color: #003896;
        border-radius: 100%;
        color: #ffffff;
        display: flex;
        height: 1rem;
        justify-content: center;
        padding: 1.4rem;
        text-decoration: none;
        transition: all 300ms ease;
        width: 1.4rem; }
        .footer__extra-info .social-links .link:not(:last-of-type) {
          margin-right: 1.2rem; }
        .footer__extra-info .social-links .link i {
          font-size: 1.2rem; }
  .footer__bottom {
    background-color: #003896;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1.2rem 0; }
    .footer__bottom .container {
      align-items: center;
      display: flex;
      justify-content: space-between; }
    .footer__bottom .link {
      display: inline-block;
      text-decoration: none;
      transition: all 300ms ease; }
      .footer__bottom .link:not(:last-of-type) {
        margin-right: 1.2rem; }
      .footer__bottom .link:hover {
        color: #ffffff; }

.header__top {
  background-color: #003896;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 1.2rem 0; }
  .header__top .container {
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .header__top .contact-info {
    margin-left: auto;
    margin-right: 10rem; }
  .header__top .link {
    display: inline-block;
    text-decoration: none;
    transition: all 300ms ease; }
    .header__top .link:not(:last-of-type) {
      margin-right: 1.2rem; }

.header__navigation {
  padding: 2rem 0; }
  .header__navigation .navbar {
    justify-content: space-between;
    padding: 0; }
    .header__navigation .navbar-brand {
      padding: 0; }
      .header__navigation .navbar-brand .logo {
        width: 15rem; }
    .header__navigation .navbar-collapse {
      flex-grow: 0; }
    .header__navigation .navbar .navbar-nav {
      align-items: center; }
    .header__navigation .navbar .nav-item:not(:last-child) {
      margin-right: 3rem; }
    .header__navigation .navbar .nav-link {
      color: #003896; }
    .header__navigation .navbar .dropdown-toggle::after {
      margin-left: 1rem;
      vertical-align: 0.3rem; }
    .header__navigation .navbar .dropdown-item {
      font-size: 1.4rem;
      padding: 1rem 2rem; }

.section {
  padding: 8rem 0; }
  .section__wrapper {
    max-width: 50rem;
    width: 100%; }

.section__about {
  background-color: #e8efff;
  text-align: center; }

.section__clients {
  text-align: center; }

.section__covered {
  background-color: #e8efff; }
  .section__covered .list {
    list-style: none;
    margin-bottom: 1.5rem; }
    .section__covered .list .item {
      color: #444444;
      margin: 3rem 0;
      padding-left: 45px;
      position: relative; }
      .section__covered .list .item::before {
        align-items: center;
        background: rgba(0, 56, 150, 0.39);
        border-radius: 50%;
        color: #003896;
        content: "\f00c";
        display: flex;
        font-family: "Font Awesome 5 Free";
        font-size: 12px;
        font-weight: 900;
        height: 25px;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 25px; }
  .section__covered .video__icon {
    color: #3a95ff;
    font-size: 60px; }
    .section__covered .video__icon i {
      vertical-align: middle; }
  .section__covered .video__image {
    background: url("../images/video-image.png") no-repeat;
    background-size: cover;
    box-shadow: 0px 20px 40px rgba(36, 32, 135, 0.338966);
    height: 250px;
    margin-left: 1rem;
    position: relative; }
  .section__covered .video__overlay {
    align-items: center;
    background: rgba(32, 18, 78, 0.65407);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%; }

.section__numbers {
  background-color: #003896;
  text-align: center; }
  .section__numbers .btn--link {
    color: #ffffff !important; }
  .section__numbers .heading {
    color: #ffffff;
    margin-bottom: 1rem; }
  .section__numbers .paragraph {
    color: #ffffff;
    font-size: 12px; }

.section__products {
  text-align: center; }
  .section__products .card {
    background: #ffffff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 50px rgba(240, 245, 255, 0.3);
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    text-align: left;
    transition: all 0.8s ease; }
    .section__products .card:hover {
      box-shadow: 0px 2px 35px rgba(169, 192, 235, 0.8); }
    .section__products .card__content {
      border-bottom: 1px solid rgba(0, 56, 150, 0.1);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 1px solid rgba(0, 56, 150, 0.1);
      border-right: 1px solid rgba(0, 56, 150, 0.1);
      padding: 3rem 2rem; }
    .section__products .card__image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 120px;
      width: 100%; }
    .section__products .card__title {
      color: #003896;
      font-weight: 700; }
    .section__products .card__text {
      color: #4a4a4a;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: 0; }
  .section__products .tabs {
    margin-bottom: 2rem; }
