*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.4; }

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a,
a:visited {
  color: inherit; }

article,
aside,
footer,
header,
nav,
section,
main {
  display: block; }

[hidden] {
  display: none !important; }

[disabled] {
  cursor: not-allowed; }

:focus:not(:focus-visible) {
  outline: none; }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Soleil-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Soleil-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Soleil-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Soleil-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Soleil-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Soleil';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Soleil-Extrabold.ttf") format("truetype"); }

body {
  font-family: "Soleil", sans-serif; }

.heading {
  color: #003896;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 2rem; }
  .heading--primary {
    font-size: 4.5rem;
    line-height: 6rem; }
  .heading--secondary {
    font-size: 2.5rem; }

.paragraph {
  color: #444444;
  font-size: 1.6rem;
  line-height: 2.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.text-red {
  color: #FF4040 !important; }

.btn {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all 300ms ease; }
  .btn--primary {
    background-color: #FF4040;
    color: #ffffff !important; }
    .btn--primary:hover {
      background-color: #d90000; }
  .btn--secondary {
    background-color: transparent;
    border: 0.2rem solid #003896;
    color: #003896 !important; }
  .btn--link {
    color: #FF4040 !important;
    font-size: 1.4rem;
    padding: 0; }
  .btn:not(:last-of-type) {
    margin-right: 1rem; }

.main-carousel .carousel-item {
  position: relative; }

.main-carousel .carousel-info {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.main-carousel .carousel-ctas {
  margin-top: 3rem; }
  .main-carousel .carousel-ctas .btn {
    padding-left: 3rem;
    padding-right: 3rem; }

.main-carousel .carousel-image {
  display: block;
  height: 55rem;
  object-fit: cover;
  object-position: center;
  width: 100%; }

.main-carousel .carousel-indicators li {
  background-color: #ffffff;
  border-radius: 100%;
  height: 1rem;
  opacity: 1;
  width: 1rem; }
  .main-carousel .carousel-indicators li.active {
    background-color: #003896; }

.footer__navbar {
  padding: 5rem 0; }

.footer__nav-title {
  color: #003896;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
  padding: 0;
  text-transform: uppercase; }

.footer__nav {
  list-style: none; }

.footer__nav-item {
  padding: 0; }
  .footer__nav-item:not(:last-of-type) {
    margin-bottom: 1.2rem; }

.footer__nav-link {
  display: inline-block;
  font-size: 1.3rem;
  text-transform: capitalize;
  transition: all 300ms ease; }
  .footer__nav-link:hover {
    text-decoration: none; }

.footer__extra-info {
  color: #003896;
  padding: 0 0 5rem; }
  .footer__extra-info .logo-section .logo {
    width: 15rem; }
  .footer__extra-info .address-section .address {
    font-size: 1.4rem;
    line-height: 2.2rem; }
  .footer__extra-info .contact-section {
    align-items: flex-start;
    display: flex;
    flex-direction: column; }
  .footer__extra-info .contact-link {
    font-size: 1.4rem;
    text-decoration: none; }
    .footer__extra-info .contact-link:not(:last-child) {
      margin-bottom: 1rem; }
  .footer__extra-info .social-links {
    display: flex; }
    .footer__extra-info .social-links .link {
      align-items: center;
      background-color: #003896;
      border-radius: 100%;
      color: #ffffff;
      display: flex;
      height: 1rem;
      justify-content: center;
      padding: 1.4rem;
      text-decoration: none;
      transition: all 300ms ease;
      width: 1.4rem; }
      .footer__extra-info .social-links .link:not(:last-of-type) {
        margin-right: 1.2rem; }
      .footer__extra-info .social-links .link i {
        font-size: 1.2rem; }

.footer__bottom {
  background-color: #003896;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1.2rem 0; }
  .footer__bottom .container {
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .footer__bottom .link {
    display: inline-block;
    text-decoration: none;
    transition: all 300ms ease; }
    .footer__bottom .link:not(:last-of-type) {
      margin-right: 1.2rem; }

.header__top {
  background-color: #003896;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 1.2rem 0; }
  .header__top .container {
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .header__top .contact-info {
    margin-left: auto;
    margin-right: 10rem; }
  .header__top .link {
    display: inline-block;
    text-decoration: none;
    transition: all 300ms ease; }
    .header__top .link:not(:last-of-type) {
      margin-right: 1.2rem; }

.header__navigation {
  padding: 2rem 0; }
  .header__navigation .navbar {
    justify-content: space-between;
    padding: 0; }
    .header__navigation .navbar-brand {
      padding: 0; }
      .header__navigation .navbar-brand .logo {
        width: 15rem; }
    .header__navigation .navbar-collapse {
      flex-grow: 0; }
    .header__navigation .navbar .navbar-nav {
      align-items: center; }
    .header__navigation .navbar .nav-item:not(:last-child) {
      margin-right: 3rem; }
    .header__navigation .navbar .nav-link {
      color: #003896; }
    .header__navigation .navbar .dropdown-toggle::after {
      margin-left: 1rem;
      vertical-align: 0.3rem; }
    .header__navigation .navbar .dropdown-item {
      font-size: 1.4rem;
      padding: 1rem 2rem; }

.section {
  padding: 8rem 0; }
  .section__wrapper {
    max-width: 50rem;
    width: 100%; }

.section__about {
  background-color: #E8EFFF;
  text-align: center; }
