$color-blue: #003896;
$color-blue-bg: #e8efff;
$color-blue-light: #f0f6fd;

$color-light-grey: rgba(42, 42, 42, 0.355327);

$color-grey: #4a4a4a;

$color-red: #ff4040;

$color-white: #ffffff;

$color-dark: #444444;

$main-font: "Soleil", sans-serif;
