$color-blue: #003896;
$color-blue-bg: #e8efff;
$color-blue-light: #f0f6fd;

$color-blue-skye: #3a95ff;
$color-blue-skye-deep: #4288FF;
$color-blue-skye-light: #B0D9FF;

$color-new-bg-light: #F9F4F4;

$color-light-grey: rgba(42, 42, 42, 0.355327);

$color-grey: #4a4a4a;

$color-red: #ff4040;
$color-red-light: rgba(254, 66, 66, 0.1);

$color-white: #ffffff;

$color-dark: #545454;

$main-font: "Soleil", sans-serif;

$box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, 
            rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;