// Pages
/*
About Us
  Careers
    entreneurship.html
Support
  update-info.html
*/

.header {
  &__top {
    background-color: $color-blue;
    color: $color-white;
    font-size: 1.4rem;
    padding: 1.2rem 0;

    @include respond(medium) {
      display: none;
    }

    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .slogan {
    }

    .contact-info {
      margin-left: auto;
      margin-right: 10rem;
    }

    .social-links {
    }

    .link {
      display: inline-block;
      text-decoration: none;
      transition: all 300ms ease;

      &:not(:last-of-type) {
        margin-right: 1.2rem;
      }

      &:hover {
      }
    }
  }

  &__navigation {
    background: $color-white;
    padding: 2rem 0;

    .navbar {
      justify-content: space-between;
      padding: 0;

      &-brand {
        padding: 0;

        .logo {
          width: 15rem;
        }
      }

      &-collapse {
        flex-grow: 0;
      }

      &-icon {
        color: #a0a0a0;
        display: none;
        font-size: 32px;

        &.active {
          display: inline-block;
        }

        i {
          vertical-align: middle;
        }
      }

      .navbar-nav {
        align-items: center;
      }

      .nav-item {
        &.open {
          .nav-link {
            color: #ff4040;

            &::before {
              display: block;
            }
          }
        }

        &:not(:last-child) {
          margin-right: 3rem;
        }

        &.claim-btn {
          margin-right: 1rem;
          .btn {
            color: $color-red;
            font-weight: 700;
            margin-right: 0;

            &:hover {
              color: darken($color-red, 20%);
            }
          }
        }
      }

      .nav-link {
        color: $color-blue;
        padding-bottom: 2rem;
        padding-top: 2rem;
        position: relative;

        &::before {
          background: $color-red;
          bottom: 0;
          content: "";
          display: none;
          height: 3px;
          left: 0;
          margin: 0;
          position: absolute;
          width: 100%;
        }

        &:hover,
        &.active {
          color: $color-red;

          &::before {
            display: block;
          }
        }
      }

      .dropdown-item {
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 0 2.5rem;
        white-space: normal;

        &.dropdown-submenu {
          & > .dropdown-link {
            display: block;
            width: 100%;
            position: relative;

            &::after {
              color: $color-blue;
              content: "\f105";
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          &:hover {
            & > .dropdown-link {
              &::after {
                color: $color-red !important;
              }
            }
          }

          &.open {
            .dropdown-list {
              display: block;
            }
          }
        }

        &:hover {
          background-color: rgba(216, 216, 216, 0.14);

          & > .dropdown-link {
            color: $color-red !important;
          }
        }
      }

      .dropdown-link {
        border-bottom: 1px solid #eeeeee;
        color: $color-blue;
        display: block;
        padding: 1.5rem 1rem;
        padding-left: 0;

        &:hover {
          text-decoration: none;
        }
      }

      .dropdown-list {
        list-style: none;
        margin-bottom: 3rem;
      }

      .dropdown-menu {
        border: none;
        box-shadow: $box-shadow;
        padding: 0;
        z-index: 1021;

        &-block {
          background: rgba(216, 216, 216, 0.14);
          display: flex;
          position: relative;
          width: 500px;
        }

        &-column {
          background: $color-white;
          height: 100%;
          padding: 2.5rem 0;
          width: 50%;

          &--child {
            background: transparent;
            height: auto;
            min-height: 100%;
            position: absolute;
            right: 0;
            top: 0;

            .dropdown-list {
              display: none;
            }
          }

          &--full-width {
            width: 100%;

            .dropdown-item {
              white-space: nowrap;
            }
          }
        }
      }

      .dropdown-toggle::after {
        margin-left: 1rem;
        vertical-align: 0.3rem;
      }
    }
  }
}

.mobile__navigation {
  .navbar-mobile {
    &__body {
      background: $color-white;
      display: none;
      height: 100%;
      left: 0;
      overflow-y: auto;
      padding-top: 5rem;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;

      .navbar-nav {
        margin-top: 5rem;

        &-block {
          position: relative;
        }

        .nav {
          &-header {
            background: $color-blue;
            padding: 1.5rem;
          }

          &-item {
            border-bottom: 1px solid rgba($color: $color-blue, $alpha: 0.2);
            padding: 1rem 0;

            &.claim-btn {
              border-bottom: none;
              margin-top: 2rem;
            }

            &.open {
              .mobile-submenu {
                left: 0;
                visibility: visible;
              }

              > .mobile-submenu--child {
                left: 0 !important;
                z-index: 120 !important;
                visibility: visible !important;
              }
            }
          }

          &-link {
            color: $color-blue;
            font-size: 14px;
            padding: 1rem 0;
            position: relative;
            text-transform: uppercase;

            &.active {
              color: $color-red;
            }

            &.mobile-dropdown {
              &::after {
                content: "\f105";
                font-family: "Font Awesome 5 Free";
                font-size: 20px;
                font-weight: 900;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }

          &-title {
            color: $color-white;
            font-weight: 700;
            font-size: 14px;
            line-height: normal;
            padding-left: 3rem;
            position: relative;
            text-transform: uppercase;

            &::before {
              content: "\f104";
              font-family: "Font Awesome 5 Free";
              font-size: 20px;
              font-weight: 900;
              left: 0;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }

      .mobile-submenu {
        background: $color-white;
        height: 100%;
        left: 100%;
        position: absolute;
        top: 0;
        transition: all 0.5s ease;
        visibility: collapse;
        width: 100%;
        z-index: 100;

        &--child {
          left: 100% !important;
          visibility: collapse !important;
        }
      }
    }

    &__header {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .navbar-icon {
      color: #a0a0a0;
      font-size: 20px;
    }
  }
}
