.section {
  padding: 8rem 0;

  &__wrapper {
    max-width: 50rem;
    width: 100%;
  }

  &__intro {
    margin: 0 auto;
    max-width: 60rem;
    text-align: center;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }

  &__heading {
    color: $color-blue;
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    &.white {
      color: $color-white;
    }
  }

  &__sub-heading {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.8rem;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  &.bg-blue-light {
    background-color: $color-blue-light !important;
  }
}

.new-bg-light {
  background-color: $color-blue-light;
}

.claims-tab {
  background-color: $color-blue-light;
  color: $color-blue-skye;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  transition: 0.3s all;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  &.active,
  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }

  &--alt {
    background-color: $color-white;
    color: $color-blue;
  }
}
