.product-tabs {
  margin-top: 6rem;

  .nav {
    // margin-bottom: 3rem;
    border-bottom: 10px solid rgba(255, 255, 255, 0.5);

    &-link-home {
      width: 260px;
    }

    &-link-service {
      text-transform: capitalize !important;
    }

    &-link-button {
      background-color: $color-blue-skye;
      color: $color-white !important;
    }

    &-link {
      color: $color-light-grey;
      font-size: 0.9em;
      height: 8rem;
      position: relative;
      text-transform: uppercase;

      &::after {
        background-color: $color-light-grey;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &:hover {
        color: $color-red;
        &::after {
          background-color: $color-pink;
        }
      }

      &.active {
        color: $color-blue;
        background-color: $color-blue-light;
        border-radius: 5px;

        &::after {
          background-color: $color-blue;
          height: 2px;
        }
      }
    }
  }
}

.general-tab {
  // border: 1px solid red;

  .nav {
    border: none;

    &-link {
      background-color: transparent !important;
      border: none;
      font-weight: 500;
      padding: 2rem 1rem;
      text-transform: uppercase;

      &.active {
        border-bottom: 3px solid $color-blue;
      }
    }
  }

  .tab-content {
    .tab-pane {
      padding: 5rem 0;
    }
  }
}

.services-tab {
  .nav {
    border-bottom: 1px solid rgba(0, 56, 150, 0.54);
    margin-bottom: 10rem;

    &.fixed-top {
      .nav-link {
        padding: 0.5rem;
      }
    }

    &-item {
      margin-top: 5px;
      position: relative;

      &:not(:last-child) {
        &::after {
          background-color: rgba($color: $color-blue, $alpha: 0.3);
          content: "";
          height: calc(100% - 5px);
          position: absolute;
          right: 0;
          top: 0;
          width: 2px;
        }
        .nav-link {
          margin-right: 5px;
        }
      }

      &:last-child {
        .nav-link {
          color: $color-white;
          background-color: #4a90e2;
          text-transform: uppercase;
        }
      }
    }

    &-link {
      align-items: center;
      color: #b3b3b3;
      display: flex;
      height: calc(100% - 5px);
      justify-content: center;
      margin-bottom: 5px;
      margin-left: 3px;
      padding: 1.5rem 1rem;
      position: relative;
      transition: all 0.3s ease-in;

      &.active {
        background-color: rgba(66, 136, 255, 0.12);
      }

      &.active,
      &:hover {
        color: $color-blue;

        &:after {
          background-color: $color-blue;
          bottom: -7px;
          content: "";
          height: 4px;
          left: 0;
          position: absolute;
          width: 100%;
        }

        &::before {
          color: $color-blue;
        }
      }

      &::before {
        color: #b3b3b3;
        display: inline-block;
        font-family: "icomoon";
        font-size: 30px;
        margin-right: 1rem;
        vertical-align: middle;
      }

      &.benefit {
        &::before {
          content: "\e900";
        }
      }

      &.others {
        &::before {
          content: "\e903";
        }
      }

      &.premium {
        &::before {
          content: "\e901";
        }
      }

      &.product {
        &::before {
          content: "\e902";
        }
      }
    }
  }
}
