.claims {
  &-form {
    display: none;
    padding: 3rem;
    &:first-child {
      display: block;
    }

    &.show {
      display: block;
    }

    .heading--secondary {
      font-weight: 100;
    }

    &-inner {
      background-color: #f0f6fd;
      margin-top: 6rem;
      padding: 6rem;

      @include respond(small) {
        margin-top: 3rem;
        padding: 6rem 3rem;
      }

      .btn.btn--tertiary.w-100 {
        @include respond(small) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
