.card {
  background: $color-white;
  &:hover {
    cursor: pointer;
  }
}

.person {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__avatar-wrapper {
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 300px;
  }
  &__avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__info {
    background-color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 30px 20px;
  }
  &__name {
    color: $color-blue;
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 0.5rem; // text-transform: uppercase;
  }
  &__name2 {
    color: $color-blue;
    display: block;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 0.5rem; // text-transform: uppercase;
  }
  &__designation {
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  &__designation2 {
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    color: $color-red;
  }
  &__profile-btn {
    background-color: transparent;
    border: none;
    color: $color-red;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 10px;
    text-transform: capitalize;
    transition: all 300ms ease;
    &:hover {
      color: darken($color-red, 30%);
    }
  }
}