.page-intro {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  min-height: 250px;

  &--alt {
    .breadcrumb {
      &-item {
        color: $color-white !important;
      }
    }

    .page-title {
      color: $color-white !important;
    }
  }

  .breadcrumb {
    background-color: transparent;
    font-size: 14px;
    margin-bottom: 2rem;

    &-item {
      color: $color-grey;

      &.active {
        color: $color-blue-skye !important;
      }
    }
  }

  &--locations {
    background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.6), rgba(17, 17, 17, 0.8)),
      url(../images/location.png);
  }

  .page-title {
    color: $color-blue;
    font-size: 5rem;
    font-weight: 700;
    line-height: 5rem;
  }

  .page-title1 {
    color: $color-blue;
    font-size: 6rem;
    font-weight: 700;
    line-height: 5rem;
  }

  .service-title {
    width: 30em;
  }

  .service-image {
    padding-right: 0 !important;
  }
}

@media (min-width: 768px) {
  .service-image {
    margin-top: -50px;
  }
}
