.product-tabs {
  margin-top: 6rem;

  .nav {
    // margin-bottom: 3rem;
    border-bottom: 10px solid rgba(255,255,255,.5);

    &-link-home {
      width: 260px;
    }

    &-link-service {
      text-transform: capitalize !important;
    }

    &-link-button {
      background-color: $color-blue-skye;
      color: $color-white !important;
    }

    &-link {
      color: $color-light-grey;
      font-size: 14px;
      height: 56px;
      position: relative;
      text-transform: uppercase;

      &::after {
        background-color: $color-light-grey;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &:hover {
        color: $color-red;

        &::after {
          background-color: $color-blue;
        }
      }

      &.active {
        color: $color-blue;
        background-color: $color-blue-light;
        // margin-bottom: 2em;
        border-radius: 5px;

        &::after {
          background-color: $color-blue;
          height: 2px;
        }
      }
    }
  }
}

.general-tab {
  // border: 1px solid red;

  .nav {
    border: none;

    &-item {
      // border: 1px solid blue;
    }

    &-link {
      background-color: transparent !important;
      border: none;
      font-weight: 500;
      padding: 2rem 1rem;
      text-transform: uppercase;

      &.active {
        border-bottom: 3px solid $color-blue;
      }
    }
  }

  .tab-content {
    .tab-pane {
      padding: 5rem 0;
    }
  }
}
