.product-tabs {
  margin-top: 6rem;

  .nav {
    margin-bottom: 3rem;

    &-link {
      color: $color-light-grey;
      font-size: 14px;
      position: relative;
      text-transform: uppercase;
      width: 260px;
      height: 56px;

      &::after {
        background-color: $color-light-grey;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &:hover {
        &::after {
          background-color: $color-blue;
        }
      }

      &.active {
        color: $color-blue;
        background-color: $color-blue-light;
        margin-bottom: 2em;
        border-radius: 5px;

        &::after {
          background-color: $color-blue;
          height: 2px;
        }
      }
    }
  }
}

.general-tab {
  // border: 1px solid red;

  .nav {
    border: none;

    &-item {
      // border: 1px solid blue;
    }

    &-link {
      background-color: transparent !important;
      border: none;
      font-weight: 500;
      padding: 2rem 1rem;
      text-transform: uppercase;

      &.active {
        border-bottom: 3px solid $color-blue;
      }
    }
  }

  .tab-content {

    .tab-pane {
      padding: 5rem 0;
    }
  }
}