@font-face {
  font-family: "Soleil";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Soleil-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Soleil";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Soleil-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Soleil";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Soleil-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Soleil";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Soleil-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Soleil";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Soleil-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Soleil";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Soleil-Extrabold.ttf") format("truetype");
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?g8k48z");
  src: url("../fonts/icomoon.eot?g8k48z#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?g8k48z") format("truetype"), url("../fonts/icomoon.woff?g8k48z") format("woff"),
    url("../fonts/icomoon.svg?g8k48z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
