body {
  font-family: $main-font;
}

.heading {
  color: $color-blue;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 2rem;
  &--extra {
    font-size: 6rem;
    line-height: 7rem;
  }
  &--primary {
    font-size: 4rem;
    line-height: 5rem;
    @include respond(medium) {
      font-size: 3rem;
    }
  }
  &--secondary {
    font-size: 3rem;
    line-height: 4rem;
    @include respond(medium) {
      font-size: 2rem;
    }
  }
  &--secondary2 {
    font-size: 2rem;
    line-height: 4rem;
    color: rgb(150, 63, 63);
  }
  &--services {
    color: black;
    font-size: 4rem;
    line-height: 5rem;
    padding-left: 3rem;
    position: relative;
    &::after {
      background: #c52626;
      content: "";
      height: 2rem;
      left: 0;
      position: absolute;
      top: 1rem;
      width: 1rem;
    }
    @include respond(medium) {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }
  &--tertiary {
    color: $color-red;
    font-size: 1.5rem;
    line-height: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
  }
  &.white {
    color: $color-white;
  }
}

.nav-link {
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2.8rem;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  &.small {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  @include respond(medium) {
    font-size: 1.4rem !important;
  }
}