body {
  font-family: $main-font;
}

.heading {
  color: $color-blue;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 2rem;

  &--extra {
    font-size: 6rem;
    line-height: 7rem;
  }

  &--primary {
    font-size: 4rem;
    line-height: 5rem;
  }

  &--secondary {
    font-size: 3rem;
    line-height: 4rem;
  }

  &--tertiary {
    color: $color-red;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
  }

  &.white {
    color: $color-white;
  }
}

.nav-link {
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2.8rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &.small {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
