body {
    font-family: $main-font;
}

.heading {
    color: $color-blue;
    display: inline-block;
    margin-bottom: 1rem;

    &--secondary {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}

.paragraph {
    color: $color-dark;
    font-size: 1.6rem;
    line-height: 2.6rem;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}