.section__contact-info {
  .contact-box {
    .label {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.2rem;
      margin-bottom: 1.4rem;
    }

    .value {
      font-size: 1.5rem;
      line-height: 2rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .link {
        color: $color-blue;
        text-decoration: none;
      }
    }
  }
}

.section__claims-form {
  background-color: $color-blue-light;
}

.section__location-faq {
  background: #fafcff;
  padding: 3rem;

  .faq {
    &-desc {
      color: #444444;
      font-size: 1.4rem;
      padding-bottom: 3rem;
    }

    &-title {
      color: $color-red;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.section__videos,
.section__albums {
  background-color: $color-blue-light;
}

.stat-figure {
  padding-right: 20px;
  font-size: 3em;
  color: $color-red;
  // overflow-x: hidden;
}

.video--bg {
  position: relative;

  .video__btn {
    position: absolute;
    top: 43%;
    width: 14%;
    left: 43%;
    opacity: 0.7;
    transition: 0.3s all;

    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .stat-figure {
    width: 100%;
  }
}
