.claims {
  &-form {
    display: none;
    padding: 3rem;

    &.show {
      display: block;
    }

    .heading--secondary {
      font-weight: 100;
    }

    &-inner {
      background-color: #e1e9f0;
      margin-top: 6rem;
      padding: 6rem;
    }
  }
}
